{% extends 'base.html' %}
{% block content %}
<h1>All Cars</h1>
{% if categories %}
  {% for category, products in categories.items() %}
    <h2>{{ category }}</h2>
    <ul>
      {% for product in products %}
      <li>
        <a href="{{ url_for('product.product_detail', product_id=product.id) }}">
          {{ product.name }} -- {{ product.price }} -- Stock: {{ product.stock }}
        </a>
      </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% else %}
  <p>No cars found.</p>
{% endif %}
{% endblock %}
